---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/forms">next</a>
    </nav>
    <main>
      <h1>title</h1>

      <pre>
        page title required for user to know what tab he is on 
        "tell you what page is about"


        e.g. suffix each page name with the  overall publication
        "articles - the onion"
        "the thing about things - the onion"
      </pre>


      <h2>Language</h2>
      <pre>
        sr needs to know the language! to read out.

        use &lt; html lang="en" &gt;

        she said : <span lang="fr">"parlez vous francais?"</span>
      </pre>
    </main>


  </body>
</html>
