---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/focus">next</a>
    </nav>
    <main>
      <h1>focus</h1>

      <pre>
        "at least 2px area"  ? 

        its about change between pre and with focus 
        - focus indication area : px that changed color 
        - change at least 3:1 col contrast
        - the bigger area the better 
        - at least a 2px thick perimiter around element 
      </pre>

    </main>


  </body>
</html>
