---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/name">next</a>
    </nav>
    <h1>hiding el</h1>

    <pre>
		- opacity : 0;
		- clip-path: inset(100%);
		- visibility: hidden; - a11y hidden, but still takes space in layout
		- display: none; - a11y hidden + gone on page
		- display: contents; - can hide from a11y tree
		- content-visibility: ; - 
		- AlWAYS TEST
		
		html attributes
		- hidden 
		- disabled - cant receive keyboard focus - still exposed to SR
		- inert - no ix with keyboard or mouse, not in a11y tree. BUT still rendered 
		- tab-index - removes from tab order - still SR focusable
		- aria-hidden - still visible and focusable 
		- role : presentation = none - surpress semantics of an element 
		- a11y label - hidden elements can still be used as aria label and then will be read
		
		SR only info
		<a href="https://www.tpgi.com/the-anatomy-of-visually-hidden/">.sr-only</a>

		<style>
		.sr-only:not(:focus):not(:active) {
			position: absolute;
			width: 1px;
			height: 1px;
			white-space: nowrap;
			overflow: hidden;
			clip-path: inset(50%);
		
		}
		</style>

		<h2>manual checkbox</h2>
		<pre>
			-  dont hide completely, or mobile TOUCH SR cant find it
			- hide w opacity: 0 and place under svg checkbox
			- as its sstill there the svg can be aria-hidden
			- then still need to convey : 
			checked, unchecked, disabled, focus, hover

		</pre>
		<style>
			input[type="checkbox"]:focus-visible + svg {
				/* same for :disabled, :checked */
			}
			/* also @media screen and (forced-colors: active) { ... } */
		</style>
	 </pre>
  </body>
</html>
